#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.header {
  
  background-color:rgb(246, 122, 177);
  border: 0.5rem solid peachpuff;
  position: sticky;
  top: 0; 
  width: 100%; 
  height: 10rem;
  font-size: 2rem;
  
}

#navbar {
  display:flex;
  background-color:rgb(246, 122, 177);
  border: 0.5rem solid peachpuff;
  position: sticky;
  top: 0; 
  width: 100%; 
  height: 5rem;
  font-size: 2rem;
  justify-content: space-evenly;
}






h1 {
  text-align: center;
  color: white;
  margin-top: 1.5rem;
}


img {  
  max-width: 20rem;  
  height: auto; 
  align-self: center;
  
  }  